@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: IRANSansWeb;
  src: url("../fonts/IRANSansWeb\(FaNum\)_Light.woff") format("woff");
  font-style: normal;
  font-display: swap;
  font-weight: normal;
}

* {
  font-family: IRANSansWeb, sans-serif;
  direction: rtl;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}
